um7_[a-zA-Z0-9]*.json
rsl_[a-zA-Z0-9]*.json
.idea
**__pycache__*
dist/*
build/*
*.egg-info/*
**/__pycache__/
*.log
**py_accessor.py
**.pytest_cache
shearwater*.h
**shearwater_creg_*.json
**shearwater_hidden_*.json
**ShearwaterConfiguration.py
